
body{
    background-color: black;
    color: white;
    font-family: tahoma;
    height: 1200px;
    letter-spacing: 1.5px;
}
/*this area is functions*/


.container{
    width: 800px;
    margin:0px auto;
}
.header{
    width: 800px;
    height: 45px;
    font-weight: bold;
}



.header .logo{
    float: left;
    font-style: italic;
}



.header .logo .nile{
    font-size: 33px;
}


.xcolor{
    color: red;
}
.header .nav{
    width: 500px;
    margin-top: 9px;
    float: right;
}
.header .nav span{
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
}
.header .nav .active{
    color: red;
    border-bottom: 2px solid green;
}

/* this section of css is for theme section*/

.theme-sect{
    background-image: url(./images/theme-bg.jpg);
    background-repeat: no-repeat;
    border: 1px solid black;
    background-size: cover;
    height: 540px;
}
.theme-sect .first-part{
    font-size: 33px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-style: italic;
    letter-spacing: 1.5px;
}
.theme-sect .second-part{
    font-size: 20px;
    letter-spacing: 1.5px;
}






.about-sect{
    background-color: white;
    height: 700px;
    color: green;
}
.about-sect .why{
    font-size: 26px;
    padding-top: 40px;
    display: block;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 3px;
}
.about-sect .about-message{
    font-size: 18px;
    padding-top: 40px;
}














.footer{
    text-align: center;
    color: white;
    word-spacing: 3px;
    letter-spacing: 2px;
}
.footer .logo-footer{
    font-size: 20px;
}
.footer svg{
    width: 30px;
    height: 30px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 20px;
    cursor: pointer;
}

















































